/* Other rules */

// global rules
$orange: rgb(228, 126, 86);
$back-text: rgb(250, 220, 208);
$back-task: rgb(255, 247, 244);
$font-body: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
.content {
  font-family: $font-body;
  width: 80vw;
  margin: 0 auto;

  h1 {
    font-size: 2.2em;
  }
  a,
  b {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}
.bodyDark {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.body {
  background-color: white;
}

/* Header */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0 2em 0;
  .title {
    display: flex;
    align-items: center;
  }
  .icon-header {
    font-size: 4em;
    margin-right: 0.5em;
    color: $orange;
  }
  section {
    display: flex;
    align-items: center;
    .modeColorLight,
    .modeColorDark {
      padding: 4px;
      color: $orange;
      font-size: 1.5em;
      margin-left: 10px;
      cursor: pointer;
      border-radius: 50%;
    }
    .modeColorDark {
      color: white;
      background-color: $orange;
    }
    .setTime {
      background-color: $orange;
      color: white;
      text-align: center;
      padding: 5px 10px;
      border-radius: 15px;
    }
  }
}

/* SearchBar */

.search {
  display: flex;
  justify-content: center;
  input {
    outline: none;
    padding: 1em;
    background-color: $back-text;
    border-radius: 5px;
    box-shadow: 2px 2px 3px $orange;
    margin: 2em 0;
    font-size: 1.1em;
  }
}

/* Task */

.writedTask {
  display: flex;
  justify-content: space-between;
  border: solid 1px $orange;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
  background-color: $back-task;
  .icon-task {
    color: $orange;
    font-size: 1.2em;
  }
}

/* Form */

.task {
  width: 75%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  justify-content: center;
  input {
    outline: none;
    width: 75%;
    font-size: 1.4em;
    margin-right: 2%;
    background-color: $back-text;
    padding: 0.4em;
    border-radius: 5px;
    box-shadow: 2px 2px 2px $orange;
  }
  button {
    color: white;
    border: none;
    border-radius: 5px;
    background-color: $orange;
    box-shadow: 2px 2px 2px $back-text;
    font-size: 1.2em;
    font-family: $font-body;
  }
  button:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 2em;
  background-color: $back-text;
  border-radius: 10px;
}

/* Media queries */
